* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    text-align: center;
    background-color: black;
    font-family: 'VT323', monospace;
    letter-spacing: 2px;
    overflow: hidden;
 } 

.game-intro {
    float: left;
    padding: 10% 10%;
    border-right: 1px solid blanchedalmond;
}

.logo-img {
    width: 550px;
    margin-bottom: 50px;
}

#play-button {
    font-family: 'VT323', monospace;
    background-color: rgb(119, 124, 188);
    color: rgb(253, 227, 0);
    font-size: 2em;
    padding: 20px 60px;
    border: 0;
    border-radius: 5px;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h1 {
    color:  rgb(253, 227, 0);
    padding: 40px 0 20px 0;
}

p {
    font-size: 2em;
    color: rgb(119, 124, 188);
}
